<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <a href="#">Trang chủ</a>
    </li>
    <li class="active">Quản lý hóa đơn bán</li>
  </ul>
  <div class="nav-search">
    <p class="pull-right no-margin">
      <a (click)="createModal()" class="btn btn-success btn-xs">
        <i class="fa fa-plus"></i>&nbsp;Thêm
      </a>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <!-- PAGE CONTENT BEGINS -->
    <p-panel header="Tìm kiếm" [style]="{'margin-top': '2px'}">
      <form class="form-horizontal" role="form" [formGroup]="formsearch"  (ngSubmit)="search()">
        <!-- <div class="form-group">
          <label class="col-sm-1 control-label no-padding-right"> Mã loại:</label>
          <div class="col-sm-11">
            <input formControlName="Maloai"  type="text" placeholder="Nhập mã loại" style="width: 100%;" />
          </div>
        </div> -->
        <div class="form-group">
          <label class="col-sm-1 control-label no-padding-right"> Mã hóa đơn:</label>
          <div class="col-sm-11">
            <input formControlName="Mahdb"  type="text" placeholder="Nhập tên sản phẩm" style="width: 100%;" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label no-padding-right"></label>
          <div class="col-sm-11">
            <button (click)="search()" class="btn btn-sm btn-primary">Tìm kiếm</button>
          </div>
        </div>
      </form> 
    </p-panel>
    <p-table selectionMode="single" [value]="items" styleClass="p-datatable-gridlines">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 70px; text-align: center;">STT</th>
          <th style="width: 15%; text-align: left;">Mã hóa đơn</th>
          <th style="width: 20%; text-align: left;">Mã khách hàng</th>
         
          <th style="text-align: left;">Ngày bán</th>
          <th style="text-align: left;">Tổng tiền</th>
          <th style="width: 130px; text-align: left;">Thanh toán</th>
          <th style="width: 120px; text-align: left;">Ghi chú</th>
          <th style="width: 120px; text-align: left;">Tác vụ</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item  let-i="rowIndex">
     
        <tr>
          <td style="width: 70px; text-align: center;">{{ i + 1 }}</td>
          <td>{{ item.mahdb}}</td>
          <td>{{ item.makh }}</td>
        
          <td>{{ item.ngayban }}</td>
          <td>{{ item.tongtien }}</td>
          <td>{{ item.thanhtoan }}</td>
          <td>{{ item.ghichu }}</td>
          <td class="action-col" >
            <div class="btn-group">
              <button title="" class="btn btn-xs btn-white btn-default"  (click)="openUpdateModal(item)">  
                <i class="ace-icon fa fa-edit"></i>
              </button>
              <button title="" class="btn btn-xs btn-white btn-default" (click)="onDelete(item)">
                <i class="ace-icon fa fa-trash"></i>
              </button>
            </div>  
          </td>
        </tr>
      </ng-template>
    </p-table>
    <!-- PAGE CONTENT ENDS -->
  </div>
  <div class="col-xs-12" style="text-align: right;">
    <ngb-pagination [collectionSize]="totalRecords" [pageSize]="pageSize" [(page)]="page" [maxSize]="10" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
  </div>
  <!-- /.col -->
</div>


<!-- /.row -->
<div *ngIf="showUpdateModal" id="createItemModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg full-height-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h4  *ngIf="isCreate" class="modal-title">Nhập thông tin hóa đơn</h4>
        <h4 *ngIf="!isCreate" class="modal-title">Sửa thông tin hóa đơn</h4>
      </div>
      <form *ngIf="doneSetupForm" [formGroup]="formdata"  (ngSubmit)="onSubmit(formdata.value)" class="form-horizontal utehy-form">
        <div class="modal-body no-padding">
          <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right"> Mã khách hàng(<span style="color: red;">*</span>)</label>
            <div class="col-sm-5">
              <input type="text" placeholder="Mã khách hàng" formControlName="Makh"/>
              <div *ngIf="submitted && f.Makh.errors" class="invalid-feedback">
                <div *ngIf="f.Makh.errors.required">Mã hóa đơn là bắt buộc</div>
              </div>
            </div>
          </div>
    
          <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right"> Ngày bán(<span style="color: red;">*</span>)</label>
            <div class="col-sm-5">
              <input type="text" placeholder="Ngày bán" formControlName="Ngayban"/>
              <div *ngIf="submitted && f.Ngayban.errors" class="invalid-feedback">
                <div *ngIf="f.Ngayban.errors.required">Ngày bán là bắt buộc</div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right"> Tổng tiền(<span style="color: red;">*</span>)</label>
            <div class="col-sm-5">
              <input type="text" placeholder="Tổng tiền" formControlName="Tongtien"/>
              <div *ngIf="submitted && f.Tongtien.errors" class="invalid-feedback">
                <div *ngIf="f.Tongtien.errors.required">Tổng tiền là bắt buộc</div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">Thanh toán (<span style="color: red;">*</span>)</label>
            <div class="col-sm-5">
              <input type="text" placeholder="Thanh toán" formControlName="Thanhtoan"/>
              <div *ngIf="submitted && f.Thanhtoan.errors" class="invalid-feedback">
                <div *ngIf="f.Thanhtoan.errors.required">Trạng thái là bắt buộc</div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">Ghi chú (<span style="color: red;">*</span>)</label>
            <div class="col-sm-5">
              <input type="text" placeholder="Ghi chú" formControlName="Ghichu"/>
              <div *ngIf="submitted && f.Ghichu.errors" class="invalid-feedback">
                <div *ngIf="f.Ghichu.errors.required">Ghi chú là bắt buộc</div>
              </div>
            </div>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" (click)="Reset()">
          <i class="fa fa-bell"></i> Làm mới
        </button>
        <button type="submit" class="btn btn-success btn-sm btn-submit">
          <i class="fa fa-save"></i> Đồng ý
        </button>
        <button type="button" class="btn btn-default btn-sm" (click)="closeModal()">
          <i class="fa fa-times"></i> Đóng lại
        </button>
      </div>
    </form>  
    </div>
  </div>
</div>
